*{
  padding:0%;
  margin:0%;
  
}

nav {background-color:rgb(77, 126, 211);
color:white;
padding:20px;

margin-left:0px;
font-family: "Roboto";
text-align: center;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

.container{
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  background-color:rgb(255, 246, 122) ;
  min-height: 100vh;
  padding:4vmax 8vmax;
  box-sizing: border-box;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.container>form{
  display:flex;
  flex-direction: column;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

input,textarea,button{
  padding:5px;
  border: 1px solid rgb(81, 70, 70);
  border-radius:5px;
  margin: 30px;
  font-size: 1.2rem;
}
.header{
  background-color: white;
  padding: 30px;
  text-align: center ;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: "Roboto";
}
.header>a{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.container > h1 {
  text-align: center;
  color:rgb(29, 27, 27);
  
}

button{
  border: none;
  cursor:pointer;
  background-color: crimson;
  color: white;
}

.Task{
  display:flex;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;

}
.Task > div{
  width: 100%;
}
.Task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Task button:hover{
  background-color: red;
}
.Task span{
  color: grey;

}
.contact{
  background-color:crimson;
  width:100%;
  height: 100vh;
}
.About{
  background-color: yellow;
  width: 100%;
  height: 100vh;
}


footer{
  background-color:rgb(203, 40, 40);
  height:300px;
}
.User{
  background-color: rgb(220,203,20);
  width:100%;
  height:100vh;
}